<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MillisecondsBetweenCommands" value="1000"/>
    <add key="HostName" value="irc.twitch.tv"/>
    <!--<add key="HostName" value="91.121.175.56"/>-->
    <add key="UserName" value="zenioxbot"/>
    <add key="RealName" value="Zeniox Bot"/>
    <add key="NickName" value="ZenioxBot"/>
    <add key="TheWord" value="bottenarnadd"/>
    <add key="ChannelName" value="#zeniox"/>
    <!--<add key="ChannelName" value="#glade"/>-->
  </appSettings>
</configuration>